/* Typography */

@font-face {
    font-family: 'assistant-light';
    src: url('../fonts/Assistant-Light.ttf');
}

@font-face {
    font-family: 'assistant';
    src: url('../fonts/Assistant-Regular.ttf');
}

@font-face {
    font-family: 'assistant-semi-bold';
    src: url('../fonts/Assistant-SemiBold.ttf');
}

@font-face {
    font-family: 'assistant-bold';
    src: url('../fonts/Assistant-Bold.ttf');
}

@font-face {
    font-family: 'assistant-extra-bold';
    src: url('../fonts/Assistant-ExtraBold.ttf');
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-family: assistant;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-image: none;
    border: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.main-app-container {
    height: 100vh;
}

.page-content {
    padding: 10px;
}