* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-family: assistant;
}

body {
    margin: 0;
    background-color: #eee;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-image: none;
    border: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.main-app-container {
    
    height: 100vh;
}

.main-container {
    max-width: 1200px;
    padding:0 20px;
    margin:0 30px;
}



@media screen and (max-width : 530px){
    .main-container{
        padding: 0;
    }
}