.header-container {
    background-color: #5edfff;
    height: 60px;
    padding: 10px 0 10px 20px;
}

.header-container .header-nav>*{
    padding: 1rem;
    border-left: 1px solid #eee;
}

.header-container .header-nav>a:hover{
    background-color: #ffffff44;

}