.header-container {
    color: #fff;
    background-color: #333333;
    
    padding:20px 0;
}
.header-container .logo{
    font-size: 2rem;
}
.header-container .logo span{
    text-decoration: underline #ffa41b;
    
}

.header-container .logo:hover{
    transition: 0.3s;
    text-shadow: -1px 1px 0px #ffa41b;;
}

.header-container .header-nav>a{
    padding: 1rem;
    border-left: 1px solid #eee;
}
.header-container .header-nav>a:last-child{
    padding: 1rem;
    border-right: 1px solid #eee;
}

.header-container .header-nav>a:hover{
    transition: 0.5s;
    background-color: #ffa41b;

}
