.mail-side-nav-bar-container {
    background-color: inherit;
    height: fit-content;
    width: 25%;
}

.mail-compose-router-link {
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: assistant-semi-bold;
    border-radius: .3rem;
    box-shadow: 1px 1px 2px #666;
    margin-bottom: 2rem;
}

.mail-compose-router-link:hover {
    box-shadow: 2px 2px 6px #666;
}


.directories-container {
    font-size: 1.2rem;
}



.mail-side-nav-bar-container .directories-container>li{
    margin-bottom: 0.2rem;
    padding: 0 0.9rem;
}



.mail-side-nav-bar-container .directories-container>li:hover {
    background-color: #ffa41b44;
    cursor: pointer;
}

.mail-side-nav-bar-container .directories-container>li.active {
    background-color: #ffa41b;
    color: #fff;
    font-family: assistant-semi-bold;
}



@media screen and (max-width: 740px) {
    .mail-app-container {
        padding-inline-start: 0;
    }
    .mail-side-nav-bar-container {
        position: absolute;
        transform: translateX(-100vw);
        width: 70vw;
        height: 70vh;
        box-shadow: 10px 0 15px 10px rgba(0, 0, 0, 0.623);
        border-radius: 0 1rem 1rem 0;
    }
    .mail-side-nav-bar-container.mobile-display {
        transition: all 0.8s;
        transform: translateX(0);
    }
}