.mail-details-container h1 {
    font-size: 1.5rem;
    margin: 30px 0;
}

.mail-details-container .top-bar {
    margin: 20px 0;
    background-color: #ddd;
}

.mail-details-container {
    padding: 0 120px;
    line-height: 1.5s;
}

.mail-details-container button{
    background-color: inherit;
}