.new-msg-header {
    color: white;
}

.mail-compose-container {
    width: 100%;
}

.new-msg-form {
    width: 100%;
}

.draft-mail-btn {
    width: fit-content;
    padding: 5px;
}

.mail-compose-container .body-input {
    height: 40vh;
}

.new-msg-form label input {
    width: 90%;
    border: none;
}

.mail-compose-container .new-msg-form>* {
    margin: 5px 0;
}