.mail-filter-container>* {
    border: none;
}

.mail-filter-container {
    width: 100%;
}

.mail-filter-container select {
    font-size: 1rem;
    padding-left: 0.5rem;
    border-right: 1px solid #aaaaaa33;
}

.mail-filter-input {
    width: 80%;
    padding-left: 1rem;
    margin-right: 0.5rem;
    min-width: 15rem;
    font-size: 1rem;
}