.filter-container {
    margin-left: 20%;
}

.mail-filter-container>*, .mail-sort-container>* {
    height: 2.25rem;
    border: none;
}

.mail-filter-container {
    width: 100%;
}

.mail-filter-container input {
    width: 80%;
    padding-left: 1rem;
    margin-right: 0.5rem;
    min-width: 250px;
}

.mail-filter-container select {
    font-size: 1rem;
    padding-left: 0.5rem;
    border-right: 1px solid #aaaaaa33;
}

.mail-sort-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mail-sort-select {
    font-size: 1rem;
    padding-left: 0.5rem;
}