.note-filter-container {
    display: flex;
    background-color: #ccc;
    padding: 10px;
    width: fit-content;
}



@media screen and (max-width: 820px){
    .note-filter-container{
        margin: auto;
        margin-bottom: 10px;
        
    }
    .note-filter-container input{
        width: 480px;
        line-height: 3;
    }
}

@media screen and (max-width: 530px){

    .note-filter-container input    {
        display: block;
        /* width: initial; */
        width: 95vw
    }
    
}