.todo-list-container .todo-list {
    margin-left: 15px;
    margin-bottom: 10px;
}
.todo-list-container h1{
    font-size: 1rem;
    padding: 0.5rem 0 1.5rem 1.25rem;
}

.todo-list-container .todo-list li {
    /* max-width: fit-content; */
    padding: 0 5px;
    margin-bottom: 5px;
}

.todo-list-container .todo-list li:hover {
    cursor: pointer;
    background-color: azure;
}