.notes-container{
    column-width: 300px;
    column-gap: 40px;
    padding: 10px;
    column-fill:balance;

}

@media screen and (max-width: 530px){
    .notes-container{
        padding: 0;
    }
}
