.long-text-container{
    width: 60%;
    min-height: 80%;
    position: fixed;
    left: 50%;
    top:50%;
    padding:25px;
    background-color: #eee;
    border: 4px solid #3e64ff22;
    box-shadow: 0 0 15px 0 #3e64ff22;
    transform: translate(-50%,-50%);
    border-radius: 0.5rem;
    color:#2e279d;
    
}

.long-text-container textarea{
    all:unset;
    padding-top: 20%;
    font-size: 1.5rem;
    height: 400px;
    width: 80%;
    white-space: normal;
    overflow-wrap: normal;
    overflow-x: hidden;  
}
.long-text-container .note-edit{
    margin-top: 30px;
}
.long-text-container .note-todo-edit input{
    all:unset;
    background-color: #ecfcff;
    margin: 10px 0;
    font-size: 1.25rem;
}


.long-text-container button{
    font-size: 2rem;
    background-color: inherit;
}