.note-preview-container{
    min-width: 300px;
    height: 100%;
    border-radius: 0.5rem;
    margin-bottom: 30px;
    padding: 30px 60px; 
    background-color: #fff;
    break-inside: avoid;
    box-shadow: -2px 2px 8px lightgrey; 
    
}
.tool-bar>*{
    background-color: inherit;
}