.mail-app-container {
    background-color: red;
}

.mail-side-nav-bar {
    margin-inline-end: 10px;
}

.main-mail-view {
    width: 100%;
    height: 70vh;
}

.mail-custom-display-container {
    background-color: pink;
    margin-block-end: 10px;
}

.mail-filter {
    background-color: yellow;
}

.mail-sort {
    background-color: orange;
}

.mail-router-view {
    background-color: pink;
}