.mail-app-container {
    background-color: #ecfcff;
}

.mail-side-nav-bar {
    margin-inline-end: 10px;
}

.main-mail-view {
    width: 100%;
    height: 70vh;
}

.mail-custom-display-container {
    background-color: #fff;
    margin-block-end: 10px;
    margin-inline-start: 20.7%;
}

.mail-filter {
    background-color: #fff;
}

.mail-sort {
    background-color: #fff;
}

.mail-router-view {
    background-color: #fff;
}