.mail-app-container {
    background-color: #eee;
}

.hamburger-btn {
    display: none !important;
    width: fit-content;
    font-size: 20px;
    background-color: inherit;
    color: blue;
}

.mail-side-nav-bar {
    margin-top: 100px;
    margin-right: 3rem;
}

.main-mail-view {
    width: 100%;
    height: 70vh;
}

.mail-custom-display-container {
    background-color: #fff;
    margin: 2rem 0;


    margin-left: ;
}

.mail-filter {
    background-color: #fff;
}

.mail-sort {
    background-color: white;
}

.mail-router-view {
    background-color: #fff;
}

@media screen and (max-width: 740px) {
    .hamburger-btn {
        display: block !important;
    }
}